/*
 * CSS je-so homepage *
 */

/*
 * reset default *
 */

a, blockquote, body, code,
div, dl, dt, dd,
form, fieldset,
h1, h2, h3, h4, h5, h6, img, kbd,
nav, p, pre, ol, section, ul, var {
   border: 0; margin: 0; padding: 0;
   font-family: inherit; font-size: inherit; font-style: inherit;
   font-variant: inherit; font-weight: inherit;
   text-align: left;
   vertical-align: baseline;
   background-color: transparent;
}

ol,ul {
   list-style: none;
}

/*
 * <a> element *
 */

a {
   color: #3917FF; cursor: pointer; text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a.feed {
   margin-left: 3px;
   padding: 0 0 0 19px;
   background: url("img/feed-icon-14x14.png") no-repeat 0 50%;
}

a.download {
   background: url("img/download-14x14.png") no-repeat 5px 50%;
   background-color: #FF9700;
   border: 1px solid #C77500;
   border-radius: 8px;
   color: #fff;
   margin: 5px;
   padding: 5px 5px 5px 24px;
   text-shadow: #666666 1px 1px 1px;
}

a.download:hover {
   border: 1px solid #FF9700;
   background-color: #FFA92E;
   text-decoration: none;
}

/*
 * <code> <pre> <var> element *
 */

code, pre, var  {
   font-family: FreeMono, 'Nimbus Mono L', 'DejaVu Sans Mono', monospace;
}

pre {
   line-height: 1em;
   margin: 0.8em auto 0;
   width: 90%;
}

.diagram {
   border: 1px solid #CCC; border-radius: 10px; box-shadow: 1px 1px 3px #666;
   padding: 0.5em 1em;
}

.diagram + .label {
   margin: 0.1em auto 0;
   width: 90%;
}

/*
 * <h1-9> elements *
 */

h1 {
   color: #AE763B;
   font-size: 19pt; font-weight: bold;
   margin-top: 28pt;
}

h2 {
   color: #AE763B;
   font-size: 15pt; font-weight: bold;
   margin-top: 17pt;
}

h3 {
   color: #AE763B;
   font-size: 14pt; font-weight: bold;
   margin-top: 17pt;
}

h4 {
   color: #AE763B;
   font-size: 14pt; font-style: italic; font-weight: normal;
   margin-top: 0.8em;
}

/*
 * <li> element
 */

ul {
   margin-top: 0.6em;
}

ul.download {
   padding-top: 6px;
   padding-bottom: 8px;
}

ul.download > li + li {
   margin-top: 0.8em;
}


/*
 * <p> element *
 */

p {
   margin-top: 0.7em;
}

h1 + p, h2 + p, h3 + p, h4 + p {
   margin-top: 0.1em;
}

/*
 * <header> *
 */

.date {
   font-size: 10pt;
   color: #AAA;
}

.preamble {
   color: #CC7900;
   text-align: left;
}

.preamble .nav {
   float: right;
}

.title, .subtitle {
   font-family: 'Liberation Serif',Georgia,Times,serif ;
}

.title {
   font-size: 18pt;
}

.subtitle {
   font-size: 14pt;
}

/*
 * Layout *
 */

body
{
   background-color: #fff;
   color: #333; font: normal 11.7pt/1.4em 'Liberation Sans',Arial,Helvetica,sans-serif;
   margin: 14pt auto 28pt; padding: 1em 2em;
   position: relative;
   width: 40em;
}

.footer {
   border-top: 1px dotted #CCC;
   color: #666;
   font-size: 10pt;
   margin: 28pt 0 0;
}

nav.right {
   float: right;
   padding: 0 0 2.4em 2.4em;
}

/* Layout:margin */

*:first-child {
   margin-top: 0;
}
